* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}
:root {
  --black: #1f1f20;
  --white: #fafafa;
  --blue: #0b25b7;
  --babyblue: #d7e4f2;
  --orange: #fc6d3a;

  --h1: 1.3rem;
  --h2: 2rem;
  --h3: 1.6rem;
  --h4: 1.2rem;
  --p: 1rem;
}
h2::before,
h3::before,
h4::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-color: var(--orange);
  position: absolute;
  mix-blend-mode: hue;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
  font-family: Satoshi_bold;
  text-transform: uppercase;
}
h3 {
  font-size: var(--h3);
  font-family: Satoshi_bold;
  text-transform: uppercase;
}
h4 {
  font-size: var(--h4);
  font-family: Satoshi_bold;
  text-transform: uppercase;
}
p {
  font-size: var(--p);
}
button,
a {
  font-size: var(--h4);
  font-family: Satoshi_bold;
}
@font-face {
  font-family: Satoshi_light;
  src: url("/font/Satoshi-Light.otf");
}
@font-face {
  font-family: Satoshi_regular;
  src: url("/font/Satoshi-Regular.otf");
}
@font-face {
  font-family: Satoshi_bold;
  src: url("/font/Satoshi-bold.otf");
}
#meet_ambassadors {
  align-items: flex-start;
}

/* styling the article */

.ambassadors {
  margin: 15%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 2em;
  color: var(--blue);
  font-family: Satoshi_regular;
  /* align-items: flex-start; */
}

/* styling the content in each box */

.amb__photo {
  width: 100%;
  align-self: top;
  align-self: flex-start;
  box-shadow: -15px -15px 0px 0px var(--babyblue);
}

.favorite,
.ig__username,
.description {
  text-align: left;
  padding: 5px;
}

.ig__link {
  display: none;
}

.ig__btn,
.ig__btn2,
.ig__btn:active,
.ig__btn:visited {
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 2em;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  padding: 1em 4em;
}

.ig__btn2 {
  background-color: var(--orange);
  color: var(--white);
}

.landing_bottom {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.turtle_img {
  background-image: url("/media/ocean3.1_bg.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center top;
  background-repeat: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ig__btn {
  margin: auto;
  margin-bottom: 10rem;
}

.ig__btn:hover {
  background-color: var(--orange);
  color: var(--white);
}

.ig__btn2:hover {
  background-color: var(--blue);
  color: var(--white);
}

.name {
  font-size: 1.5em;
  padding-top: 1.5em;
  z-index: 1000;
  font-weight: bold;
}

.coloredbox {
  background-color: var(--babyblue);
  height: 30px;
  width: 120px;
  transform: translate(40px, -40px);
}

.favorite span {
  font-weight: bold;
}

@media only screen and (min-width: 900px) {
  :root {
    --h1: 1.7rem;
    --h2: 3rem;
    --h3: 2.2rem;
    --h4: 1.6rem;
    --p: 1.3rem;
  }
  #meet_ambassadors {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .makeDifference {
    font-size: 4em;
    align-self: flex-start;
    transform: translateY(52vh);
    font-weight: bold;
    max-width: 10ch;
    color: var(--white);
    opacity: 20%;
  }

  .ig__btn2 {
    background-color: var(--orange);
    color: var(--white);
  }
}

@media only screen and (min-width: 1100px) {
  :root {
    --h1: 3rem;
    --h2: 3rem;
    --h3: 2.2rem;
    --h4: 1.6rem;
    --p: 1.3rem;
  }
  #meet_ambassadors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .makeDifference {
    font-size: 7em;
    align-self: flex-start;
    transform: translateY(62vh);
    font-weight: bold;
    max-width: 10ch;
    color: var(--white);
    opacity: 20%;
  }

  .ig__btn2 {
    background-color: var(--orange);
    color: var(--white);
  }
}

/* overskrift og intro */
.ambassador_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ambassador_header {
  margin-top: 1em;
  z-index: 1000;
  font-size: 3em;
  color: var(--blue);
  padding-left: 1em;
  padding-right: 1em;
}

.ambassador_header2 {
  max-width: 65ch;
  color: var(--blue);
  padding-left: 1em;
  padding-right: 1em;
}

.coloredbox2 {
  background-color: var(--babyblue);
  height: 50px;
  width: 400px;
  transform: translate(-140px, -65px);
}

@media only screen and (max-width: 899px) {
  .makeDifference {
    font-size: 6em;
    align-self: flex-start;
    font-weight: bold;
    max-width: 10ch;
    color: var(--white);
    opacity: 20%;
  }

  .ig__btn2 {
    background-color: var(--orange);
    color: var(--white);
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
}
