:root {
    --black: #000000;
    --white: #ffffff;
    --blue: blue;
}

/*form styling*/

#submiit_template {
    border: 4px solid blue;
    border-radius: 1rem;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


fieldset,
input,
legend,
select,
textarea {
    appearance: none;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid blue;
    background-color: white;
    border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
select,
textarea {
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 2px solid blue;
}


/*name a class to headlines*/
.large-label {
    display: inline-block;
    font: bold 1.5rem sans-serif;
    margin-bottom: 0.5rem;
}

#form-container1 {}

#form-container2 {}



#flexbox {
    margin-top: 10vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    background-image: url(/media/seaturtle-signup.jpg);
}

#flexbox .signuph2 {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;

}

#flexwrap {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;


}


#container1 {
    color: white;
    padding-right: 2vw;
}

#container2 {
    color: white;
    border-left: white solid 0.3em;
    border-right: white solid 0.3em;
    padding-left: 2vw;
    padding-right: 2vw;

}

#container3 {
    color: white;
    padding-left: 2vw;
}

@media screen and (max-width: 992px) {
    #flexbox {
        margin-top: 10vw;
        padding-top: 4vw;
        padding-bottom: 10vw;
        background-image: url(/media/seaturtle-signup.jpg);
    }

    #flexbox .signuph2 {
        color: white;
        display: flex;
        justify-content: center;
        padding-bottom: 6vw;
    }

    #flexwrap {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        margin-right: 10vw;
    }


    #container1 {
        color: white;
        padding-bottom: 6vw;
    }

    #container2 {
        color: white;
        border-top: white solid 0.3em;
        border-bottom: white solid 0.3em;
        border-left: none;
        border-right: none;
        padding-top: 4vw;
        padding-bottom: 4vw;

    }

    #container3 {
        color: white;
        padding-top: 6vw;
    }
}